body {
    font-family: montserrat;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif ;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}


.container-fluid {
    padding: 3% 12%;
}

/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

.download-button {
    margin: 3% 4% 4% 0;
}


/* title image */

.title-image {
    width: 15%;
    transform: rotate(25deg);
    position: absolute;

     
}

/* features */

#features {
    padding: 10% 8%;
    background-color: #fff;
    position: relative;
    z-index: 2;
    
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ff4c68;
    padding: 5%;
    
}

.icon:hover {
    color: #FF5D5D;
}


/* Testimonials */

#testimonials {
    padding: 4% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}


.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 5%;
}

/* press */

#press {
    background-color: #ff4c68;
    margin-bottom: 5%;
    text-align: center;
    padding: 5%;
}

/* price */

.button {
    text-align: center;
}

#pricing {
    padding: 80px;
}

.pricing-card {
    padding: 3% 5%;
}

@media (max-width: 1028px) { 

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
        height: 100%;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        word-break:none; */
        
        }


    }

    
    /* Call to action */

    #cta {
        background-color: #ff4c68;
        padding: 7% 15%;
        color: #fff;
        text-align: center;
        
    }

   .cta-heading {
       font-family:'Montserrat', sans-serif; 
       font-size: 3.5rem;
       line-height: 1.5;
   }

   /* footer */

   #footer {
       padding: 7% 15%;
       background-color: #fff;
       color: black;
       font-weight: bolder;
       text-align: center;
   }

   .social-icon {
       margin: 10px 10px;
   }
